.dashboard-container {
  margin-left: 270px;
  padding: 2rem;
  background-color: #111; /* dark bg */
  min-height: 100vh;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  color: #111;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
